#search-results-title {
    font-size: 1rem;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 1em;
    padding-bottom: .5em;
}

.SearchResultsList {
    width: 100%;
    min-width: 0;
}

.TrackInfo {
    display: flex;
    flex-direction: row;
}

.TrackInfoText {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}