.App {
  width: 100%;
  height: 100vh;
}

#title {
    font-size: 4rem;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 1em;
    padding-bottom: .5em;
}

#description {
    font-size: 1rem;
    font-family: "Poppins", system-ui;
    color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.SearchBar {
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.BodyContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
    padding: 2em;
    width: 100%;
    box-sizing: border-box;
}

.SearchResults {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    background-color: #1d7ec3;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
    border: 1px solid #fff;
}

.Playlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    background-color: #1d7ec3;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
}

.Tracklist {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}