.App {
  width: 100%;
  height: 100vh;
}

  #title {
    font-size: 4rem;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.5em;
}
