.SearchBarInput {
    height: 3em;
    width: 20em;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 3px;
    border: 1px solid #fff;
    padding: 0 20px;
    font-size: 1rem;
    font-family: "Space Mono", monospace;
    color: #ffffff;
    background-color: #000000;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.SearchButton {
    background-color: #01365c;
    margin-top: 1em;
    height: 3em;
    width: 10em;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 0 20px;
    font-size: 14px;
    font-family: "Space Mono", monospace;
    color: #ffffff;
}

.SearchButton:hover {
    background-color: #01233b;
    cursor: pointer;
}