html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #1676b2, #013859);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}